.table-section {
  border: 4px solid green;
}

/* .rimage {
  height: 105px;
  width: 105px;
}

.header .lead {
  max-width: 620px;
}

.orderedImages {
  height: 105px;
  width: 105px;
} */
