.card-product-list,
.card-product-grid {
  margin-bottom: 0;
}

.cards {
  width: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  margin-top: 50px;
}

.card-product-grid:hover {
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px;
}

.cards .img-wrap {
  overflow: hidden;
}

.card-lg .img-wrap {
  height: 280px;
}

.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 275px;
  padding: 16px;
}

[class*="card-product"] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

.img-wrap {
  text-align: center;
  display: block;
}

.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 18px 20px;
}

[class*="card-product"] a.title {
  color: #212529;
  display: block;
}

.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both;
}

.rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1;
}

.card-product-grid .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #e4e4e4;
}

.bottom-wrap-payment {
  padding: 0px;
  border-top: 1px solid #e4e4e4;
}

.rated {
  font-size: 10px;
  color: #b3b4b6;
}

/* .btn {
  display: inline-block;
  font-weight: 600;
  color: #343a40;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.45rem 0.85rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-primary {
  color: #fff;
  background-color: #3167eb;
  border-color: #3167eb;
} */

.fa {
  color: #ff5722;
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .formediaQuery {
    text-align: center;
  }
}
.productImage {
  height: 250px;
}

/* main */
/* .product-grid {
  background-color: #fff;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  transition: all 0.3s ease 0s;

  margin-bottom: 15px;
}
.product-grid:hover {
  box-shadow: 0 0 20px -10px #1868ae;
}
.product-grid .product-image {
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-image {
  border-radius: 0 0 30px 30px;
}
.product-grid .product-image a.image {
  display: block;
}
.product-grid .product-image img {
  width: 100%;
  height: auto;
}
.product-image .pic-1 {
  backface-visibility: hidden;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 100%;
}
.product-grid:hover .product-image .pic-1 {
  opacity: 0;
}
.product-image .pic-2 {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image .pic-2 {
  opacity: 1;
}
.product-grid .product-links {
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 10px;
  transition: all 0.3s ease 0s;
  color: #12a4d9;
}
.product-grid:hover .product-links {
  opacity: 2;
}
.product-grid .product-links li {
  margin: 0 0 10px 0;
  transform: rotate(360deg) scale(0);
  transition: all 0.3s ease 0s;
}
.product-grid:hover .product-links li {
  transform: rotate(0) scale(1);
}
.product-grid:hover .product-links li:nth-child(3) {
  transition-delay: 0.1s;
}
.product-grid:hover .product-links li:nth-child(2) {
  transition-delay: 0.2s;
}
.product-grid:hover .product-links li:nth-child(1) {
  transition-delay: 0.3s;
}
.product-grid .product-links li a {
  color: #666;
  background-color: #fff;
  font-size: 18px;
  line-height: 42px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: block;
  transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover {
  color: #fff;
  background-color: #ed1d24;
}
.product-grid .product-content {
  text-align: left;
  padding: 15px 10px;
}
.product-grid .rating {
  padding: 0;
  margin: 0 0 7px;
  list-style: none;
}
.product-grid .rating li {
  color: #f7bc3d;
  font-size: 13px;
}
.product-grid .rating li.far {
  color: #777;
}
.product-grid .title {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;

  float: left;
}
.product-grid .title a {
  color: #555;
  transition: all 0.3s ease 0s;
}
.product-grid .title a:hover {
  color: blue;
}
.product-grid .price {
  color: blue;
  font-size: 18px;
  font-weight: 700;

  float: left;
}
@media screen and (max-width: 990px) {
  .product-grid {
    margin: 0 0 30px;
  }
} */
