/* main */
/* .login-block {
  background-color: #f2f7fb;
}

.login-block {
  margin: 30px auto;
  min-height: 93.6vh;
}

.login-block .auth-box {
  margin: 20px auto 0;
  max-width: 450px !important;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1),
    0 11px 6px -7px rgba(43, 43, 43, 0.1);
  box-shadow: 0 0 5px 0 rgba(43, 43, 43, 0.1),
    0 11px 6px -7px rgba(43, 43, 43, 0.1);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.card .card-block {
  padding: 1.25rem;
}

.f-80 {
  font-size: 80px;
}

.form-group {
  margin-bottom: 1.25em;
}

.form-material .form-control {
  display: inline-block;
  height: 43px;
  width: 100%;
  border: none;
  border-radius: 0;
  font-size: 16px;
  font-weight: 400;
  padding: 9px;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px;
}

.btn-primary {
  background-color: #4099ff;
  border-color: #4099ff;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.btn {
  border-radius: 2px;
  text-transform: capitalize;
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
}

.m-b-20 {
  margin-bottom: 20px;
}

.btn-md {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 23px;
}

.heading {
  font-size: 21px;
}

#infoMessage p {
  color: red !important;
}

.btn-google {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
  height: 80px;
  width: 265px;
}

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0;
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px;
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .loginText {
    text-align: center;
  }
}
*/

/* .classOflogincontainer {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .facebookButton {
    margin-top: 55px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .googlefbbuttoncontainer {
    text-align: center;
  }
}

.marginogtextlogin {
  margin-top: 250px;
}
/* for button */
.loginButtonsectionmain {
  margin: auto;
  text-align: center;
  padding-top: 10em;
}
.common-btn {
  position: relative;
  padding: 15px;
  width: 90%;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: "Gotham Medium", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  max-width: 20em;
  border-radius: 3em;
  border: none;
  color: #fff;
  overflow: hidden;
  background-color: transparent;
}
.common-btn:active {
  transform: scale(0.8);
}
.common-btn.blue {
  background-color: #0053b7;
}
.common-btn.blue:hover {
  color: #fff;
  z-index: 3;
  transition-delay: 1s;
}
.common-btn.blue:before {
  content: "";
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%) scale(0.6);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  transition-property: left, transform;
  transition-delay: 0s, 0s;
  transition-duration: 1s, 0.5s;
  opacity: 0;
}
.common-btn.blue:hover:before {
  left: 10px;
  transform: translateY(-50%) scale(50);
  transition-delay: 0s, 1s;
  opacity: 1;
  background: #fb6b15;
  z-index: -1;
}
.common-btn.blue:after {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) scale(0.6);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  transition-property: right, transform;
  transition-delay: 0s, 0s;
  transition-duration: 1s, 0.5s;
  opacity: 0;
}
.common-btn.blue:hover:after {
  right: 10px;
  transform: translateY(-50%) scale(50);
  transition-delay: 0s, 1s;
  opacity: 1;
  background: #fb6b15;
  z-index: -1;
}
.common-btn.orange {
  background-color: #fb6b15;
}
.common-btn.orange:hover {
  color: #fff;
  z-index: 3;
  transition-delay: 1s;
}
.common-btn.orange:before {
  content: "";
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%) scale(0.6);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  transition-property: left, transform;
  transition-delay: 0s, 0s;
  transition-duration: 1s, 0.5s;
  opacity: 0;
}
.common-btn.orange:hover:before {
  left: 10px;
  transform: translateY(-50%) scale(50);
  transition-delay: 0s, 1s;
  opacity: 1;
  background: #0054b7;
  z-index: -1;
}
.common-btn.orange:after {
  content: "";
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%) scale(0.6);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 1;
  transition-property: right, transform;
  transition-delay: 0s, 0s;
  transition-duration: 1s, 0.5s;
  opacity: 0;
}
.common-btn.orange:hover:after {
  right: 10px;
  transform: translateY(-50%) scale(50);
  transition-delay: 0s, 1s;
  opacity: 1;
  background: #0054b7;
  z-index: -1;
}
